<table class="mt-4 bg-white shadow rounded-lg w-full">
    <tbody class="divide-y divide-gray-200">
        <tr class="p-4 flex items-center justify-between">
            <td class="w-5/6 flex">
                <img class="h-16 mr-4 rounded"
                    src="https://is4-ssl.mzstatic.com/image/thumb/Video114/v4/1b/40/3d/1b403d93-e7dd-3816-a5f3-d8632186b9d3/pr_source.lsr/200x200bb.png"
                    alt="">
                <div class="flex flex-col justify-center">
                    <div class="text-nfblue font-bold">
                        Tenet
                    </div>
                    <div class="text-nfblue-light">
                        Christopher Nolan
                    </div>
                </div>
            </td>
            <td class="w-1/6 text-right">
                <button class="px-6 py-2 rounded-md text-white bg-nfblue hover-orange">Delete</button>
            </td>
        </tr>
        <tr class="p-4 flex items-center justify-between">
            <td class="w-5/6 flex">
                <img class="h-16 mr-4 rounded"
                    src="https://is4-ssl.mzstatic.com/image/thumb/Video114/v4/1b/40/3d/1b403d93-e7dd-3816-a5f3-d8632186b9d3/pr_source.lsr/200x200bb.png"
                    alt="">
                <div class="flex flex-col justify-center">
                    <div class="text-nfblue font-bold">
                        Tenet
                    </div>
                    <div class="text-nfblue-light">
                        Christopher Nolan
                    </div>
                </div>
            </td>
            <td class="w-1/6 text-right">
                <button class="px-6 py-2 rounded-md text-white bg-nfblue hover-orange">Delete</button>
            </td>
        </tr>
    </tbody>
</table>