{% extends 'base.html.twig' %}

{% block body %}
    <main class="max-w-7xl mx-auto px-8 mt-16">
        <h1 class="text-3xl font-bold text-nfblue">
            Success
        </h1>
        <p class="text-nfblue mt-2">The items were successfully placed on hold for you.</p>
        <p class="text-nfblue">Please come by within the next three days to pick them up</p>
    </main>
{% endblock %}
