<section class="max-w-7xl mx-auto px-8 mt-12">
    <h3 class="text-lg font-bold text-nfblue">
        All categories
    </h3>
    <dl class="mt-4 grid gap-5 grid-cols-3 text-white">
        {% for category in categories %}
        <a href="/categories/{{ category.slug }}" class="shadow bg-gradient-to-br from-nfblue to-nfblue-light rounded-lg hover-orange">
            <div class="p-6">
                <dt class="text-sm">
                    {{ category.description }}
                </dt>
                <dd class="mt-1 text-3xl font-semibold">
                    {{ category.name }}
                </dd>
            </div>
        </a>
        {% endfor %}
    </dl>
</section>