<main class="max-w-7xl mx-auto px-8 mt-12">
    <div class="mt-4 grid gap-4 grid-cols-5">
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is4-ssl.mzstatic.com/image/thumb/Video114/v4/1b/40/3d/1b403d93-e7dd-3816-a5f3-d8632186b9d3/pr_source.lsr/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Tenet</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Christopher Nolan</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/4e/f6/dd/4ef6dd54-aea0-18b8-966a-e902750d8cd7/886448318903.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">When You See Yourself</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Kings of Leon</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is1-ssl.mzstatic.com/image/thumb/Publication113/v4/79/fc/44/79fc445d-5448-b26c-e3bd-c807b8e6f079/9783732588169.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Unvergesslich</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Roni Loren</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is4-ssl.mzstatic.com/image/thumb/Publication114/v4/30/b1/18/30b11809-86e8-565b-8af4-6347d57f3ba5/9783736315112.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Wolfes of Wall Street -
                Kennedy</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Lauren Layne</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/95/df/21/95df2132-063b-5ca1-f2aa-ff0ffa3db80e/886447878392.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Folge 208: Kelch des
                Schicksals</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Die drei ???</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is4-ssl.mzstatic.com/image/thumb/Video114/v4/1b/40/3d/1b403d93-e7dd-3816-a5f3-d8632186b9d3/pr_source.lsr/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Tenet</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Christopher Nolan</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/4e/f6/dd/4ef6dd54-aea0-18b8-966a-e902750d8cd7/886448318903.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">When You See Yourself</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Kings of Leon</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is1-ssl.mzstatic.com/image/thumb/Publication113/v4/79/fc/44/79fc445d-5448-b26c-e3bd-c807b8e6f079/9783732588169.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Unvergesslich</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Roni Loren</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is4-ssl.mzstatic.com/image/thumb/Publication114/v4/30/b1/18/30b11809-86e8-565b-8af4-6347d57f3ba5/9783736315112.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Wolfes of Wall Street -
                Kennedy</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Lauren Layne</h4>
        </a>
        <a href="/items/42"
            class="flex flex-col items-center text-center bg-white shadow rounded-lg p-4 hover-orange group">
            <img class="h-48 block rounded-lg"
                src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/95/df/21/95df2132-063b-5ca1-f2aa-ff0ffa3db80e/886447878392.jpg/200x200bb.png" />
            <h3 class="mt-4 text-nfblue font-bold leading-tight group-hover:text-white">Folge 208: Kelch des
                Schicksals</h3>
            <h4 class="text-nfblue-light text-sm mt-1 group-hover:text-white">Die drei ???</h4>
        </a>
    </div>
</main>
