<section class="relative w-full h-32">
    <div class="absolute inset-0 bg-nfblue">
        <img class="h-full w-full object-cover opacity-50"
            src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        <div class="absolute inset-0 bg-gradient-to-r from-nfblue to-transparent"></div>
        <div class="absolute inset-0 flex items-center justify-center">
            <h1 class="text-4xl font-bold text-white">{{ name }}</h1>
        </div>
    </div>
</section>
