<section class="flex justify-center">
    <nav class="inline-flex rounded-md shadow mt-8">
        <a href=" #"
            class="px-4 py-2 bg-white text-nfblue hover-orange rounded-l-md">
            Previous
        </a>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange">
            1
        </a>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange">
            2
        </a>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange">
            3
        </a>
        <span
            class="px-4 py-2 bg-white text-nfblue">
            ...
        </span>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange">
            8
        </a>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange">
            9
        </a>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange">
            10
        </a>
        <a href="#"
            class="px-4 py-2 bg-white text-nfblue hover-orange rounded-r-md">
            Next
        </a>
    </nav>
</section>