<footer class="bg-nfblue text-white mt-16">
    <div class="max-w-7xl mx-auto px-8 py-16">
        <div class="flex justify-center">
            <a class="mx-4 px-2 py-1 rounded-full hover-orange" href="/privacy">Privacy</a>
            <a class="mx-4 px-2 py-1 rounded-full hover-orange" href="/terms">Terms</a>
            <a class="mx-4 px-2 py-1 rounded-full hover-orange" href="/support">Support</a>
        </div>
        <div class="text-center opacity-75 mt-4">© 2021 neuefische GmbH</div>
    </div>
</footer>