<!DOCTYPE html>
<html class="min-h-full">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet">
    <title>NF Library</title>
</head>

<body class="min-h-full bg-gray-100">
    {{ include('_header.html.twig') }}

    {% block body %}
    {% endblock %}

    {{ include('_footer.html.twig') }}
</body>

</html>