<main class="max-w-7xl mx-auto px-8">
    <div class="flex">
        <div class="w-1/3">
            <img class="w-full h-auto block rounded-xl -mt-24 border-8 border-gray-100 relative z-10"
                src="https://is4-ssl.mzstatic.com/image/thumb/Video114/v4/1b/40/3d/1b403d93-e7dd-3816-a5f3-d8632186b9d3/pr_source.lsr/200x200bb.png" />
        </div>
        <div class="w-2/3 ml-8 text-nfblue">
            <h3 class="mt-8 font-bold leading-tight text-4xl">Tenet</h3>
            <h4 class="text-nfblue-light text-sm mt-1">Christopher Nolan</h4>
            <p class="mt-4"><b>Release:</b> 2020-08-26</p>
            <p><b>Duration:</b> 2:30h</p>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                accusantium iusto
                maiores at repellat quis. Nisi similique veniam accusamus dignissimos nesciunt labore nihil numquam.
                Repudiandae debitis voluptatem ad fugit?</p>
            <button href="#" class="px-6 py-2 mt-6 rounded-md text-white bg-nforange hover-orange">
                Borrow
            </button>
        </div>
    </div>
</main>